.explain-section {
    padding: 10px;
    height: 1524px;
    background-color: $sections-background;
    .explain-text {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
             color: $base-text;
    }
    .explain-word {
        font-family: Seymour One;
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
                color: $base-text;
    }
    .direction-explain {
        padding: 40px;
    }
    .explain-animal {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
         height: auto;
            top: 263px;
            left: 21px;
            border-radius: 140px;
            background-color: $sections-background;
    }
}
.lorem-expalin {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 10px;

        text-align: center;
        color: $base-text;
}
.explain-dir {
    padding: 20px;
}
.btn-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-explain {
    width: 164px;
        height: 42px;
        border-radius: 10px;
        background-color: $accent-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
    .button-explain {
        font-family: Montserrat;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
    }
}
.image-exlain {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-mini {
    background-color: $accent-color;
    width: 50px;
        height: 50px;
        top: 7px;
        left: 7px;
        border-radius: 50%;
        padding: 10px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
        height: 50px;
        top: -0px;
}
.quantity {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $background-main;
}
.quantity-text {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 11px;
        line-height: 170%;
        text-align: center;
        color: $background-main;
}
.mini-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.explain-dir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-directions {
    width: 220px;
}
@media (min-width: 480px) {
    .explain-section {
            height: 1624px;
            background-color: $sections-background;
            display: flex;
            flex-direction: column;
            align-items: center;
    } 
    .quantity-text {
        font-family: Montserrat;
            font-weight: 400;
            font-size: 12px;
            line-height: 170%;
            text-align: center;
            color: $background-main;
    }
    .text-directions {
        text-align: center;
        width: 220px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .explain-animal {
        width: 280px;
    }
}
@media (min-width: 768px) {
    .explain-section {
            height: 1075px;
            color: $sections-background;
    }
    .explain-sector {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .images-section {
        padding: 50px;
    }
    .lorem-expalin {
        text-align: start;
    }
    .explain-animal {
        width: 330px;
            top: 214px;
            left: 32px;
            border-radius: 165px;
    }
    .btn-direction {
        display: flex;
        justify-content: start;
        padding: 0px 200px 0px 0px;
    }
    .text-directions {
        width: 336px;
    }
}
@media (min-width: 1660px) {
    .explain-section {
        height: 1228px;
        color: $sections-background;
    }
    .lorem-expalin {
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .text-directions {
        height: 257px;
        display: flex;
        flex-direction: column;
    }
        .btn-direction {
            display: flex;
            justify-content: start;
            padding: 100px 190px 0px 0px;
        }
    .text-cow {
        display: flex;
        text-align: start;
    }
    .btn-directions {
            text-align: start;
    }
    .image-exlain {
             width: 491px;
            height: 529px;
    }
    .explain-animal {
        height: auto;
        width: 500px;
    }
    .explain-main-text-div {
        display: flex;
        justify-content: space-between;
        gap: 600px;
    }
    .lorem-expalin {
        font-size: 16px;
    }
}
.bi-arrow-right:hover {
    animation: pulse 1.5s infinite;
    @keyframes pulse {
            0% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(4, 87, 7, 0.7);
            }
    
            70% {
                transform: scale(1.1);
                box-shadow: 0 0 20px 15px rgba(76, 175, 80, 0);
            }
    
            100% {
                transform: scale(1);
            }
        }
}